<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>IMGUR_KEY</key>
	<string>$(IMGUR_KEY)</string>
	<key>UTImportedTypeDeclarations</key>
	<array>
		<dict>
			<key>UTTypeDescription</key>
			<string>Image Upload Types JPG</string>
			<key>UTTypeIcons</key>
			<dict/>
			<key>UTTypeIdentifier</key>
			<string>leomard.supported.image.types.jpg</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>jpg</string>
				</array>
				<key>public.mime-type</key>
				<array>
					<string>image/jpg</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeDescription</key>
			<string>Image Upload Types JPEG</string>
			<key>UTTypeIcons</key>
			<dict/>
			<key>UTTypeIdentifier</key>
			<string>leomard.supported.image.types.jpeg</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>jpeg</string>
				</array>
				<key>public.mime-type</key>
				<array>
					<string>image/jpeg</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeDescription</key>
			<string>Image Upload Types PNG</string>
			<key>UTTypeIcons</key>
			<dict/>
			<key>UTTypeIdentifier</key>
			<string>leomard.supported.image.types.png</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>png</string>
				</array>
				<key>public.mime-type</key>
				<array>
					<string>image/png</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeDescription</key>
			<string>Image Upload Types WEBP</string>
			<key>UTTypeIcons</key>
			<dict/>
			<key>UTTypeIdentifier</key>
			<string>leomard.supported.image.types.webp</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>webp</string>
				</array>
				<key>public.mime-type</key>
				<array>
					<string>image/webp</string>
				</array>
			</dict>
		</dict>
	</array>
</dict>
</plist>
